@model List<Proyecto_Bb_2.Models.RegistroAc>

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de actividades</title>
    </head>
    <body>
        <header>
            <h1>Registro de actividades</h1>
        </header>
        <div>
            <a asp-action="Crear">Crear nueva actividad</a>
        </div>
        <main>
        @foreach(var actividad in Model)
        {
            <div>
                <div>
                    <h3>@actividad.Titulo</h3>
                    <p>Fecha de creación: <span>@actividad.Fecha_creacion</span></p>
                    <p>Fecha de la actividad: <span>@actividad.Fecha</span></p>
                    <p>Descripcion:</p>
                    <p>@actividad.Descripcion</p>
                    <p>Alertar Actividad: @(actividad.Notificacion ? "Si" : "No")</p>
                </div>
                <div>
                    <a asp-action="Editar" asp-route-id="@actividad.Id">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@actividad.Id">Eliminar</a>
                </div>
            </div>
        }
        </main>
    </body>
</html>
